# Executables
*/bin/*

# Outputs from executables
*/output/*

# Other testing
*/test/*

# LaTeX
*/doc/*.aux
*/doc/*.log
*/doc/*.synctex.gz
*/doc/*.blg
*/doc/*.bbl
*/doc/*.out

# Compressed files
*.tar.gz

# VSCode
/.vscode/

# Other class stuff
/lecture/
/numrec/
