# Executables
*/bin/*

# Outputs from executables
*/output/*
*/jobs/*
!*/jobs/*.slurm

# Other testing
*/test/*

# LaTeX
*.aux
*.synctex.gz
*.blg
*.bbl
*/doc/*.out
*/doc/*/*.out
*/doc/*.log
*/doc/*/*.log

# Compressed files
*.tar.gz

# VSCode
/.vscode/

# Other class stuff
/lecture/
/numrec/
